
.calculator{
  border: 1px solid rgb(110, 110, 110);
  border-radius: 10px;
  margin: 0 auto;
  overflow: hidden;
  font-size: 24px;
  
}

.screen{
  max-width: 100%;
  box-shadow: inset 0  0 40px 5px rgb(189, 189, 189);
  height: 80px;
  font-size: 34px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.keyboard{
  /* display: flex;
  
  flex-direction: column; */

  width: 100%;
}

.row{
  display: flex;
}
.btn{
  padding: 20px;
  border: .1px solid rgb(110, 110, 110);
  display: flex;
  justify-content: center;
  flex-basis: 40px;
  flex-grow: 1;
  background-color: rgb(219, 219, 219);
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none; 
}