.calculator{
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 auto;
  overflow: hidden;
  font-size: 24px;
}

.screen{
  max-width: 100%;
  background: rgb(221, 221, 221);

  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.keyboard{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.row{
  display: flex;

 flex-basis: fill;
}
.btn{
  padding: 20px;
  border: .1px solid black;
  display: flex;

  flex-basis: fill;
  background-color: cornsilk;
}